{% extends "layout.html" %}
{% block title %}
Questions
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-8">
    <h2 class = "mb-4 mt-2">All Polls</h2>
    <input class="form-control " placeholder="Search poll" type="text" id="search-field">
    <ul class="mt-4">
        {% for question in questions %}
        <li class="mb-4 poll-item">
            <a href="{% url 'question_page' id_=question.id %}">
                {{question.question_text}}
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>
    <div class="col-4 mt-2">
        <p class="text-center"><a href="{% url 'create_poll' %}">Create Poll</a></p>
    </div>
</div>
    <script>
        $(document).ready(function(){
        $("#search-field").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $(".poll-item").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>
{% endblock %}